body {
  background: linear-gradient(to bottom, #38b2ac, #2d3748); /* גרדיאנט אחיד */
  color: white;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}